.about-us-img {
    max-width: 100%;
    min-height: 714px;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us-background {
    max-width: 100%;
    min-height: 330px;
    background-color: #ffc155;
}

.btn-about-us {
    border: 1px solid #e7ad48;
}

.about-us-dummy-item {
    height: 710px;
}