.banner {
    background-color: $secondary;
}

// .wrapper {
//     position: absolute;
//     top: 0px;
//     width: 100%;
//     background-color: $secondary;
//     max-height: 85%;
// }

.input-custom {
    font-size: 13px;
    padding: 13px;
}

.input-icon {
    position: absolute;
    font-size: 16px;
    color: #6e6e6e;
    top: 31px;
    left: 19px;
}

.form-btn-custom {
    height: 48px;
    line-height: 0px;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li {
    width: 16px;
    height: 16px;
    border: 1px solid #dedfe0;
    border-radius: 50%;
}

.active {
    box-shadow: 0px 0px 0px 1px #1ca8dd;
}