.btn-nav-custom {
    font-family: $font-secondary;
    font-size: $font-size-base;
    text-transform: uppercase;
    padding: 10.5px 20px!important;
}

.btn-nav-custom:hover, .btn-active {
    color: white!important;
    background-color: $primary;
    border-radius: 1px;
} 

.btn-custom {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #ffc155;
    border-radius: 1px;
}

.btn-custom:hover {
    background-color: #e4a73e;
}