.newsletter .form-btn-custom {
    width: 220px;
}

.map-container {
    position: relative;
}

.newsletter adress {
    width: 280px;
    height: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #aeb7ba;
    background-color: $cyan;
}

.newsletter adress::after {
    content: '';
    position: absolute;
    bottom: -13px;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-top: 14px solid $cyan;
}

.adress-logo {
    background-image: url(../img/logo.png);
    width: 50px;
    height: 50px;
    top: 115%;
    left: 50%;
    transform: translate(-50%,-50%);
}