.footer-call {
    font-family: $font-secondary;
    font-size: 22.5px;
}

.footer-call .fa-phone {
    font-size: 20px;
    transform: rotate(90deg);
}

.social-media-icon {
    font-size: 18px;
}

.copyright {
    width: 100%;
    background-color: $secondary;
}