.service-icon {
    width: 62px;
    height: 55px;
    background-image: url(../img/services-sprite.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

.service-icon-1 {background-position-x: 0px;}
.service-icon-2 {background-position-x: -62px;}
.service-icon-3 {background-position-x: -124px;}
.service-icon-4 {background-position-x: -186px;}
.service-icon-5 {background-position-x: -248px;}
.service-icon-6 {background-position-x: -310px;}